.photo-grid {
    font-family: 'Inter',  Arial, sans-serif;
    margin: 0 auto;
    padding: 92px 0 0 11px;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    box-sizing: border-box;
    object-fit: cover;
    justify-content: center;
  }

  @media screen and (max-width: 1250px) {
    .photo-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 13px;
      padding-top: 90px;
      padding-left: 45px;
      padding-right: 45px;
    }
  }

@media screen and (max-width: 900px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-left: 23px;
    padding-right: 23px;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 14px;
  }
}