.photo-grid {
    font-family: 'Inter',  Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding: 92px 48px 0;
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    gap: 16px;
    box-sizing: border-box;
  }

  @media screen and (max-width: 1279px) {
    .photo-grid {
      grid-template-columns: repeat(3, 300px);
      gap: 14px;
    }
  }

  @media screen and (max-width: 1023px) {
    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      padding-top: 88px;
    }
  }

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    padding-top: 64px;
    padding-left: 12px;
    padding-right: 12px;
  }
}