.places {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 max-width: 1016px;
 padding-top: 97px;
 padding-bottom: 93px;
 padding-left: 29px;
 box-sizing: border-box;
 font-family: 'Inter', Arial, Helvetica, sans-serif;
}


  
@media screen and (max-width: 1024px) {
  .places {
    padding-left: 50px;
    padding-right: 24px;
    padding-bottom: 100px;
    padding-top: 90px;
  } 
}

  @media screen and (max-width: 768px) {
    .places  {
      padding-left: 24px;
      padding-right: 0px;
      padding-top: 89px;
      padding-bottom: 84px;
   }   
  }

  @media screen and (max-width: 767px) {
    .places  {
      padding-right: 10px;
      padding-top: 90px;
      padding-bottom: 96px;
   }   
  }
  
  @media screen and (max-width: 320px) {
    .places  {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 64px;
      padding-bottom: 65px;
      max-width: 320px;
      width: 100%;
  }
}