.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  align-self: center;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  }

  @media screen and (max-width: 768px) {
    .lead__title {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  @media screen and (max-width: 576px) {
    .lead__title {
      line-height: 44px;
      font-size: 40px;
      padding-left: 16px;
      padding-right: 16px;

    }
  }