.lead__image {
  min-height: 615px;
  object-fit: contain;
  max-width: 100%;
  padding: 64px 0 0;
  display: block;
  }
  
 @media screen and (max-width: 1280px) {
   .lead__image {
    min-height: 100%;
    
   }
}
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__image {
      height: calc(100% - 200px - 72px - 32px - 56px);
      padding-top: 56px;
    }
  }

  @media screen and (max-width: 768px) {
    .lead__image {
      min-height: 50%;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__image {
      padding-top: 40px;
      min-height: 200px;
    }
  }
  