.cover {
    font-family: 'Inter',  Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1184px; 
    width: 100%;
    padding: 0 0 0 20px;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 0;
    }
}

