.cover__title {
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
    font-weight: 900;
    font-size: clamp(32px, 10vw, 72px);
    line-height: clamp(35px, 10vw, 76px);
    z-index: 0;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
  }

  @media screen and (max-width: 1024px) {
    .cover__title {
      padding-left: 2px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover__title {
      padding-left: 3px;
    }
  }

  @media screen and (max-width: 767px) {
    .cover__title {
      padding-left: 0;
    }
  }