.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  }

 @media screen and (max-width: 1024px) {
    .place {
       grid-template-columns: 440px 1fr;
       column-gap: 30px;
  }
 }

 @media screen and (max-width: 920px) {
    .place {
      grid-template-columns: 340px 1fr;
      column-gap: 27px;
      row-gap: 47px;
 }   
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 48px;
}   
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns:  1fr;
    row-gap: 32px;
    column-gap: 0;
 }   
}


