.header__lang-links {
    list-style-type: none;
    display: flex;
    gap: 18px;
  }

  @media screen and (max-width: 1024px) {
    .header__lang-links {
      margin: 0px;
      padding: 17px 0;
    }
  }

  @media screen and (max-width: 768px) {
    .header__lang-links {
      margin: 0px;
      padding: 18px;
      box-sizing: border-box;
    }
  }



@media screen and (max-width: 500px) {
  .header__lang-links {
    padding: 15px 16px 0;
  }
}