.intro__title {
    margin: 0;
    padding: 0;
    max-width: 720px;
    width: 100%;
    font-weight: 900;
    font-size: clamp(32px, 10vw, 54px);
    line-height: clamp(35px, 10vw, 58px);
  }
  @media screen and (max-width: 1024px) {
    .intro__title {
      max-width: 700px;
    }
  }

  @media screen and (max-width: 320px) {
    .intro__title {
      width: calc(100% - (2 * 16px));
      
    }
  }
  